{
  "openapi": "3.0.3",
  "info": {
    "title": "株式会社エヌアンドエス API",
    "description": "レリバンスエンジニアリング・AI技術専門企業のAPIサービス。サービス情報、技術ブログ、会社概要の提供と問い合わせ機能。",
    "version": "1.0.0",
    "contact": {
      "name": "株式会社エヌアンドエス",
      "url": "https://nands.tech",
      "email": "info@nands.tech"
    },
    "license": {
      "name": "利用規約",
      "url": "https://nands.tech/terms"
    }
  },
  "servers": [
    {
      "url": "https://nands.tech/api",
      "description": "プロダクション環境"
    }
  ],
  "paths": {
    "/services": {
      "get": {
        "summary": "サービス一覧の取得",
        "description": "提供している全サービスの詳細情報とカテゴリを取得します。",
        "operationId": "getServices",
        "responses": {
          "200": {
            "description": "サービス一覧取得成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "services": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ServiceInfo"
                          }
                        },
                        "total": {
                          "type": "integer",
                          "example": 11
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company": {
      "get": {
        "summary": "企業情報の取得",
        "description": "会社概要、ミッション、専門分野、連絡先などの基本情報を取得します。",
        "operationId": "getCompanyInfo",
        "responses": {
          "200": {
            "description": "企業情報取得成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/CompanyInfo"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "summary": "技術カテゴリの取得",
        "description": "技術分野、専門カテゴリ、業界フォーカス、技術スタックの詳細情報を取得します。",
        "operationId": "getCategories",
        "responses": {
          "200": {
            "description": "技術カテゴリ取得成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/TechnologyCategories"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contact": {
      "post": {
        "summary": "お問い合わせの送信",
        "description": "企業向けサービスに関するお問い合わせを送信します。",
        "operationId": "sendInquiry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["company", "name", "email", "message"],
                "properties": {
                  "company": {
                    "type": "string",
                    "description": "会社名"
                  },
                  "name": {
                    "type": "string", 
                    "description": "担当者名"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "メールアドレス"
                  },
                  "phone": {
                    "type": "string",
                    "description": "電話番号（任意）"
                  },
                  "message": {
                    "type": "string",
                    "description": "お問い合わせ内容"
                  },
                  "to": {
                    "type": "string",
                    "description": "送信先アドレス（システム用）"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "お問い合わせ送信完了",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "メールを送信しました"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "送信エラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "メールの送信に失敗しました"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ServiceInfo": {
        "type": "object",
        "description": "サービス情報",
        "properties": {
          "id": {
            "type": "string",
            "description": "サービスID"
          },
          "name": {
            "type": "string",
            "description": "サービス名"
          },
          "category": {
            "type": "string",
            "description": "サービスカテゴリ"
          },
          "description": {
            "type": "string", 
            "description": "サービス説明"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "サービス特徴一覧"
          },
          "url": {
            "type": "string",
            "description": "サービスページURL"
          }
        }
      },
      "CompanyInfo": {
        "type": "object",
        "description": "会社情報",
        "properties": {
          "name": {
            "type": "string",
            "description": "会社名"
          },
          "name_en": {
            "type": "string",
            "description": "英語表記会社名"
          },
          "founded": {
            "type": "integer",
            "description": "設立年"
          },
          "ceo": {
            "type": "string",
            "description": "代表者名"
          },
          "description": {
            "type": "string",
            "description": "事業内容"
          },
          "mission": {
            "type": "string",
            "description": "ミッション"
          },
          "vision": {
            "type": "string",
            "description": "ビジョン"
          },
          "specialties": {
            "type": "array",
            "items": {
              "type": "string"  
            },
            "description": "専門分野"
          }
        }
      },
      "TechnologyCategories": {
        "type": "object",
        "description": "技術カテゴリ情報",
        "properties": {
          "technology_domains": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "sub_categories": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "applications": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "service_categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "technology_stack": {
            "type": "object",
            "properties": {
              "frontend": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "backend": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "ai_ml": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
} 